<<<<<<< HEAD
body {
  background-color: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}

h1 {
  color: orange;
=======
body {
  background-color: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}

h1 {
  color: orange;
>>>>>>> 3711fc29cb17280d2d9c566a521297203919739c
}